<template>
  <b-card-body :title="gift.attributes.name" title-tag="h3">
    <b-card-text text-tag="div">
      <b-form-rating
        id="rating-detail"
        inline
        v-model="gift.attributes.rating"
        no-border
        size="sm"
        variant="warning"
        precision="2"
        readonly
        class="star-rating"
      ></b-form-rating>
      <span class="reviews-text"
        >{{ gift.attributes.numOfReviews }} reviews
      </span>
    </b-card-text>
    <b-card-text text-tag="div" class="space-gap d-flex">
      <img
        class="right-gap"
        alt="image point detail"
        src="~@/assets/images/point-detail.svg"
      />
      <span class="text-success text-points right-gap flex-center"
        >{{ gift.attributes.pointStr }} points
      </span>
      <span :class="gift.attributes.stockCSS">
        {{ gift.attributes.stockStatus }}
      </span>
    </b-card-text>
    <b-card-text text-tag="div" v-html="gift.attributes.info"> </b-card-text>
    <amount-button />
    <div class="space-gap">
      <b-button pill variant="outline-danger" class="right-gap"
        ><b-icon :icon="gift.attributes.wishListCSS" aria-hidden="true"></b-icon
      ></b-button>
      <b-button
        pill
        variant="success"
        class="right-gap custom-btn-width bg-green"
        >Redeem</b-button
      >
      <b-button
        pill
        variant="outline-primary"
        class="right-gap custom-btn-width"
        >Add to Cart</b-button
      >
    </div>
  </b-card-body>
</template>
<script>
import AmountButton from "../AmountButton.vue";

import { mapGetters } from "vuex";
export default {
  name: "DetailInfo",
  components: { AmountButton },
  computed: {
    ...mapGetters(["gift"]),
  },
};
</script>
<style>
.right-gap {
  margin-right: 10px;
}

.text-points {
  font-size: 20px;
}

.flex-center {
  align-items: center;
}

.custom-btn-width {
  min-width: 100px;
}

.bg-green {
  background-color: #145322 !important;
}

.text-green {
  color: #145322;
}
</style>
