<template>
  <div>
    <h4 class="text-success">Info Produk</h4>
    <hr />
    <b-card no-body class="overflow-hidden no-border">
      <b-card-text text-tag="div" v-html="gift.attributes.description">
      </b-card-text>
    </b-card>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "DetailDescription",
  computed: {
    ...mapGetters(["gift"]),
  },
};
</script>
