<template>
  <div v-if="gift" class="img-container">
    <img
      v-if="
        gift.attributes.rating > 4 &&
        gift.attributes.numOfReviews > 25 &&
        gift.attributes.isNew == 1
      "
      alt="image-ribbon"
      class="image-ribbon-hot"
      src="~@/assets/images/Group 3036.svg"
    />
    <img
      v-else-if="
        gift.attributes.rating > 4 && gift.attributes.numOfReviews > 25
      "
      alt="image-ribbon"
      class="image-ribbon-best"
      src="~@/assets/images/Group 3030.svg"
    />
    <img
      v-else-if="gift.attributes.isNew == 1"
      alt="image-ribbon"
      class="image-ribbon-new"
      src="~@/assets/images/Group 3037.svg"
    />
    <b-card-img
      :src="gift.attributes.images[0]"
      alt="Product Image"
      onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg';"
      class="response"
    ></b-card-img>
  </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "DetailImage",
  computed: {
    ...mapGetters(["gift"]),
  },
};
</script>
<style>
.image-ribbon-new {
  position: absolute;
  top: 0px;
  right: 0px;
}

.image-ribbon-best {
  position: absolute;
  top: -4px;
  right: -4px;
}

.image-ribbon-hot {
  position: absolute;
  top: -4px;
  right: -4px;
}
</style>
