<template>
  <div>
    <b-card-group deck>
      <b-link
        v-for="gift in gifts"
        :key="gift.attributes.id"
        :to="{ name: 'productdetail', params: { id: gift.attributes.id } }"
      >
        <b-card img-alt="Image" class="card-width-limit">
          <img
            v-if="
              gift.attributes.rating > 4 &&
              gift.attributes.numOfReviews > 25 &&
              gift.attributes.isNew == 1
            "
            alt="image-ribbon"
            class="image-ribbon-hot"
            src="~@/assets/images/Group 3036.svg"
          />
          <img
            v-else-if="
              gift.attributes.rating > 4 && gift.attributes.numOfReviews > 25
            "
            alt="image-ribbon"
            class="image-ribbon-best"
            src="~@/assets/images/Group 3030.svg"
          />
          <img
            v-else-if="gift.attributes.isNew == 1"
            alt="image-ribbon"
            class="image-ribbon-new"
            src="~@/assets/images/Group 3037.svg"
          />

          <b-card-header
            header-tag="header"
            :header-text-variant="gift.attributes.stockCSS"
          >
            {{ gift.attributes.stockStatus }}
          </b-card-header>
          <b-card-body>
            <b-card-img
              top
              :src="gift.attributes.images[0]"
              onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg';"
            ></b-card-img>
            <br />
            <b-card-title title-tag="h5">{{
              gift.attributes.name
            }}</b-card-title>
            <b-card-text text-tag="div">
              <b-icon
                icon="x-circle-fill"
                variant="success"
                class="rm5px"
              ></b-icon
              >{{ gift.attributes.pointStr }} points
            </b-card-text>
            <b-card-text text-tag="div">
              <b-form-rating
                id="rating-sm-no-border"
                inline
                v-model="gift.attributes.rating"
                no-border
                size="sm"
                variant="warning"
                precision="2"
                readonly
                class="star-rating"
              ></b-form-rating>
              <span class="reviews-text"
                >{{ gift.attributes.numOfReviews }} reviews
              </span>
              <b-button pill variant="outline-danger" class="float-right"
                ><b-icon
                  :icon="gift.attributes.wishListCSS"
                  aria-hidden="true"
                ></b-icon
              ></b-button>
            </b-card-text>
          </b-card-body>
        </b-card>
      </b-link>
    </b-card-group>
  </div>
</template>

<script>
import Service from "@/services/GiftService";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "ProductPanel",
  data() {
    return {
      pageNumber: 1,
    };
  },
  beforeMount() {
    this.fetch({
      "page[number]": this.pageNumber,
      "page[size]": 6,
    });
    this.pageNumber++;
  },
  mounted() {
    this.getNextData();
  },
  methods: {
    ...mapActions(["setGifts", "addGift"]),
    async fetch(params = {}) {
      var results = await Service.getData(params);
      var vThis = this;

      var datax = await {
        data: results.data,
        meta: results.meta,
      };

      // this.setGifts(results.data);

      results.data.forEach(function (item) {
        vThis.addGift(item);
      });

      return await datax;
    },
    getNextData() {
      window.onscroll = () => {
        let bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight >=
          document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          this.fetch({
            "page[number]": this.pageNumber,
            "page[size]": 6,
          });
          this.pageNumber++;
        }
      };
    },
  },
  computed: {
    ...mapGetters(["gifts"]),
  },
};
</script>
<style scope>
.card-header {
  background-color: transparent !important;
  border-bottom: none !important;
}

.card-title {
  margin-top: 1rem;
}

.rm5px {
  margin-right: 5px;
}

.custom-padding {
  padding: 0.75rem !important;
}

.image-ribbon-new {
  position: absolute;
  top: 0px;
  right: 0px;
}

.image-ribbon-best {
  position: absolute;
  top: -8px;
  right: -8px;
}

.image-ribbon-hot {
  position: absolute;
  top: -8px;
  right: -6px;
}

.reviews-text {
  font-size: 14px;
  opacity: 0.8;
}

@media (min-width: 800px) {
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
  }
  .card-width-limit {
    width: 320px;
    height: 480px;
    margin-bottom: 15px !important;
  }
}

.b-rating .b-rating-star,
.b-rating .b-rating-value {
  padding: 0 0.1em !important;
}
</style>
