<template>
  <div>
    <label for="sortingButton">Urutkan </label>
    <b-dropdown
      id="sortingButton"
      variant="outline-dark"
      :text="sortBy"
      class="m-2"
      size="sm"
    >
      <b-dropdown-item-button button-class="custom-btn-width" @click="itemClick"
        >Terbaru</b-dropdown-item-button
      >
      <b-dropdown-item-button button-class="custom-btn-width" @click="itemClick"
        >Ulasan</b-dropdown-item-button
      >
    </b-dropdown>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "SortPanel",
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["sortBy"]),
  },
  methods: {
    ...mapActions(["setSortBy", "sortGifts"]),
    itemClick(btn) {
      this.setSortBy(btn.srcElement.innerHTML);
      this.sortGifts();
    },
  },
};
</script>
