<template>
  <div id="productList" class="mainContent">
    <div class="d-none d-lg-block">
      <b-row>
        <b-col><strong>Product List</strong></b-col>
        <b-col cols="7"></b-col>
        <b-col cols="3">
          <sort-panel />
        </b-col>
      </b-row>
    </div>
    <div class="d-block d-sm-none">
      <strong>Product List</strong>
      <b-button-group class="special">
        <b-button variant="info" @click="itemClick">Terbaru</b-button>
        <b-button variant="warning" @click="itemClick">Ulasan</b-button>
      </b-button-group>
    </div>
    <hr />
    <product-panel />
  </div>
</template>

<script>
import ProductPanel from "../components/List/ProductPanel.vue";
import SortPanel from "../components/List/SortPanel.vue";
import { mapGetters, mapActions } from "vuex";

// @ is an alias to /src

export default {
  components: { ProductPanel, SortPanel },
  name: "ProductList",
  computed: {
    ...mapGetters(["sortBy"]),
  },
  methods: {
    ...mapActions(["setSortBy", "sortGifts"]),
    itemClick(btn) {
      this.setSortBy(btn.srcElement.innerHTML);
      this.sortGifts();
    },
  },
};
</script>

<style>
.btn-group.special {
  display: flex;
}

.special .btn {
  flex: 1;
}

.mainContent {
  padding-left: 20px;
  padding-right: 20px;
}
.custom-btn-width {
  min-width: 120px;
}
</style>
