<template>
  <div v-if="gift">
    <b-card no-body class="overflow-hidden no-border">
      <b-row>
        <b-col md="6">
          <detail-image />
        </b-col>
        <b-col md="6">
          <detail-info />
        </b-col>
      </b-row>
    </b-card>
    <detail-description />
  </div>
</template>
<script>
import Service from "@/services/GiftService";
import { mapGetters, mapActions } from "vuex";

import DetailImage from "../components/Details/DetailImage.vue";
import DetailInfo from "../components/Details/DetailInfo.vue";
import DetailDescription from "../components/Details/DetailDescription.vue";

export default {
  components: { DetailImage, DetailInfo, DetailDescription },
  name: "ProductDetail",
  data() {
    return {};
  },
  mounted() {
    let id = this.$route.params.id;
    this.fetch(id, {});
  },
  methods: {
    ...mapActions(["setGift"]),
    async fetch(id, params = {}) {
      var results = await Service.getDataById(id, params);

      var datax = await {
        data: results.data,
      };

      this.setGift(results.data);

      return await datax;
    },
  },
  computed: {
    ...mapGetters(["gift"]),
  },
};
</script>
<style>
.img-container {
  padding: 3.5rem;
}
.response {
  max-width: 100%;
  height: auto;
}

.space-gap {
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-border {
  border: none !important;
}
</style>
