<template>
  <b-row class="my-1">
    <b-col sm="12">
      <label for="giftAmount">Jumlah </label>
    </b-col>
    <b-col sm="4">
      <b-input-group size="md" class="mt-3">
        <b-input-group-prepend>
          <b-button variant="secondary" @click="substractAmount"
            ><b-icon icon="dash"></b-icon
          ></b-button>
        </b-input-group-prepend>
        <b-form-input v-model="amount" min="1" number></b-form-input>
        <b-input-group-append>
          <b-button variant="secondary" @click="addAmount"
            ><b-icon icon="plus"></b-icon
          ></b-button>
        </b-input-group-append>
      </b-input-group>
    </b-col>
  </b-row>
</template>
<script>
export default {
  name: "AmountButton",
  data() {
    return {
      amount: 1,
    };
  },
  methods: {
    addAmount() {
      this.amount++;
    },
    substractAmount() {
      if (this.amount > 1) {
        this.amount--;
      }
    },
  },
};
</script>
