<template>
  <b-sidebar id="collapse-filter" title="Filter" right shadow>
    <div class="px-3 py-2">
      <b-card style="max-width: 20rem" class="mb-2">
        <b-form-checkbox v-model="filter.rating" name="check-button" switch>
          Rating 4 Keatas
        </b-form-checkbox>
        <b-form-checkbox v-model="filter.available" name="check-button" switch>
          Stok Tersedia
        </b-form-checkbox>
      </b-card>
      <b-button href="#" variant="primary" @click="onFilterGift"
        >Terapkan</b-button
      >
      <b-button href="#" variant="danger" @click="resetFilter">Reset</b-button>
    </div>
  </b-sidebar>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "FilterPanel",
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["filter"]),
  },
  methods: {
    ...mapActions(["clearFilter", "filterGifts"]),
    onFilterGift() {
      this.filterGifts();
    },
    resetFilter() {
      this.clearFilter();
      this.filterGifts();
    },
  },
};
</script>
