<template>
  <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand href="#"
      ><img
        alt="Company Logo"
        class="d-inline-block align-top"
        src="../assets/images/logo-dummy.png"
    /></b-navbar-brand>
    <b-navbar-toggle target="collapse-filter">
      <template>
        <b-icon icon="filter"></b-icon>
      </template>
    </b-navbar-toggle>
    <filter-panel />
  </b-navbar>
</template>

<script>
import FilterPanel from "@/components/FilterPanel.vue";

export default {
  name: "Header",
  components: {
    FilterPanel,
  },
};
</script>
