<template>
  <div id="app">
    <router-view name="layout">
      <!-- <div id="mainContent" class="content"> -->
      <router-view name="content" />
      <!-- </div> -->
    </router-view>
  </div>
</template>

<style></style>
