<template>
  <div>
    <b-container fluid>
      <b-navbar sticky toggleable="lg" type="light" class="bg-white">
        <b-navbar-brand href="#"
          ><img
            alt="Company Logo"
            class="d-inline-block align-top"
            src="../assets/images/logo-dummy.png"
        /></b-navbar-brand>
        <b-navbar-toggle target="collapse-filter">
          <template>
            <b-icon icon="filter"></b-icon>
          </template>
        </b-navbar-toggle>
        <filter-panel />
      </b-navbar>

      <b-row>
        <b-col cols="3" md="0" class="position-fixed d-none d-lg-block"
          ><b-nav vertical class="lex-nowrap vh-100">
            <div class="sidebar-margin">
              <div class="marginbotom1">
                <strong>Filter</strong>
              </div>
              <hr />
              <b-card style="max-width: 20rem" class="mb-2">
                <b-form-checkbox
                  v-model="filter.rating"
                  name="check-button"
                  switch
                  @input="onFilterToggle"
                >
                  Rating 4 Keatas
                </b-form-checkbox>
                <b-form-checkbox
                  v-model="filter.available"
                  name="check-button"
                  switch
                  @input="onFilterToggle"
                >
                  Stok Tersedia
                </b-form-checkbox>
              </b-card>
            </div>
          </b-nav></b-col
        >
        <b-col cols="12" offset-lg="3" md="9"><slot /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import FilterPanel from "@/components/FilterPanel.vue";
import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    FilterPanel,
  },
  props: {
    msg: String,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["filter"]),
  },
  methods: {
    ...mapActions(["filterGifts"]),
    onFilterToggle() {
      this.filterGifts();
    },
  },
};
</script>
<style>
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-sm-2,
.mx-sm-2 {
  margin-right: 0.5rem !important;
}

.sidebar-margin {
  margin-left: 30px;
}
.marginbotom1 {
  margin-bottom: 1.5rem;
}
.container-gap {
  margin-top: 100px;
}
</style>
