<template>
  <div>
    <b-container>
      <b-navbar sticky toggleable="lg" type="light" class="bg-white">
        <b-navbar-brand href="#"
          ><img
            alt="Company Logo"
            class="d-inline-block align-top"
            src="../assets/images/logo-dummy.png"
        /></b-navbar-brand>
      </b-navbar>
      <b-breadcrumb class="transparent-bg">
        <b-breadcrumb-item :to="{ name: 'productlist' }"
          >Product List</b-breadcrumb-item
        >
        <b-breadcrumb-item v-if="gift" active>{{
          gift.attributes.name
        }}</b-breadcrumb-item>
        <b-breadcrumb-item v-else active>Product Not Found</b-breadcrumb-item>
      </b-breadcrumb>
      <slot />
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  components: {},
  computed: {
    ...mapGetters(["gift"]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.transparent-bg {
  background-color: transparent !important;
}
</style>
